@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Elms Sans", Helvetica, sans-serif;
  color: #291503;
  background-color: #fffff9;
  background-image:
    linear-gradient(to right, rgba(41, 21, 3, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(41, 21, 3, 0.03) 1px, transparent 1px);
  background-size: 48px 48px;
}
