@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Elms Sans", Helvetica, sans-serif;
  color: #4e3000;
  background-color: #ffefd5;
  background-size: 48px 48px;
}
