@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Elms Sans", Helvetica, sans-serif;
  color: #291503;
  background-color: #f3f3ee;
  background-image:
    linear-gradient(to right, rgba(41, 21, 3, 0.025) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(41, 21, 3, 0.025) 1px, transparent 1px);
  background-size: 48px 48px;
}

/* 
Dark Blue: #355070
Pale Blue: #c4dfe9
Orange: #FFBC40
Brown: #291503
Coral: #c35d31
*/
